@model IEnumerable<SleepingSelkie.Models.InventoryViewModel>
@using SleepingSelkie.Models;

@{
    ViewData["Title"] = "Inv";
}

<h1>M</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Order" asp-controller="Order" method="POST">
    <table class="table">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.OrderAmount)
                        @Html.ValidationMessage("ErrorMessage", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-primary" />
    </div>
</form>
